<% if current_user %>

  <p>
  	<%= link_to "Order", items_path %> | 
    <%= link_to "Start A Event","#" %> | 
  	<%= current_user %> | 
  	<%= link_to "Logout", logout_path, method: 'delete' %> 
  </p>
<% else %>
  <p>
  	<%= link_to "Order", items_path %> | 
  	<a href="/sign_up">Sign up</a> |
  	<a href="/login">Login</a>
  </p>
<% end %>

<%= flash[:notice] %>

